.source-container{
	padding: 14px 25px;

	.txt-import{
		padding-left: 10px;	
	}

	.mr-bottom{
		margin-bottom: 15px;
	}

	.tab-box{
		margin-top: 35px;
		background-color: #F2F6FA;
		width: 80%;

		.ant-tabs-bar{
			background-color: #F2F6FA;
		}

		.left-menu-tab{
			padding: 15px 0px 30px 25px;
		}

		.left-border{
			border-right: 1px solid #BCC9D9;
			padding-right: 35px;
		}

		.mr-bt{
			margin-bottom: 20px;
		}

		.left-options{
			background-color: #bcc9d9;
			border-radius: 4px;
			padding: 10px;
			text-align: center;
			height: 90px;
			width: 115px;
			color: white;
			font-family: nunito-semiBold;
			cursor: pointer;
		}

		.left-options.active{
			background-color: white;
			color: #2E394C;
			border: 3px solid #0186EA;
			font-family: nunito-regular;
			padding: 10px 7px;
		}

		.txt-item{
			padding: 20px 0;
			line-height: 16px;
		}

		.green-bullet{
			height: 10px;
			width: 10px;
			background-color: #00C264;
			border-radius: 50%;
			float: right;
		}

		.ant-tabs-tab-active{
			border-bottom: 3px solid #1890ff;
		}

		.ant-tabs-tab-active.ant-tabs-tab.ant-tabs-tab-disabled{
			border-bottom: none;
		}
		.ant-tabs-tab.ant-tabs-tab-disabled{
			cursor: default;
		}
	}

	.right-menu-tab{
		padding: 11px 25px 10px 30px;
	}

	.ant-select{
		width: 100%;

		.ant-select-selection{
			height: 45px;
			padding: 9px 0;
		}
	}

	label{
		line-height: 1;
	}

	.button-container{
		position: absolute;
    bottom: 0;
	}

	.btn-submit{
		border: 1px solid #0B87E4;
    color: #0581DF;
    padding: 8px 34px;
    font-family: nunito-bold;
		font-size: 11px;
		display: inline-block;
		margin-right: 25px;
		cursor: pointer;
	}

	.btn-submit.btn-publish{
		padding: 8px 62px;
	}

	.height-fix{
		height: 314px;
	}

	.height-fixed{
		height: 329px;
	}

	.date-box,
	.select-box{
		margin-top: 22px;
	}

	.ant-calendar-picker,
	.ant-time-picker{
		width: 100%;
		.ant-calendar-picker-input,
		.ant-time-picker-input{
			height: 45px;
			cursor: pointer;
		}

		i{
			cursor: pointer;
		}
		.ant-time-picker-input,
		.ant-time-picker-input:hover{
			border: 0;
			box-shadow: -1px -1px 0px #ececec, 0px 0px 0px #ececec, 1px 1px 0px #ececec;
		}
	}

	.mg-l{
		margin-left: 25px;
	}

	.feilds-desc{
		color: #0186EA;
		font-size: 12px;
		margin-top: 10px;
	}

	.button-box{
		margin-top: 20px;
	}

	.btn-save{
		border-radius: 3px !important;
	}

	.btn-save.disabled{
		pointer-events: none;
		opacity: 0.5;
	}

	.mg-top{
		margin-top: 30px;
	}

	.disabled-tab{
		pointer-events: none;
		opacity: 0.5;
	}

	.ant-tabs-nav{
		width: 100%;
	}
	
	.ant-tabs-tab{
		width: 50%;
    text-align: center;
	}

	.ant-tabs-nav-container-scrolling{
		padding: 0px !important

	}

  .ant-tabs-tab-arrow-show {
		display: none
	}

	.ant-tabs-ink-bar.ant-tabs-ink-bar-animated{
		display: none !important;
	}
}